.graph{
    background-color: chartreuse;
    width: 600px;
    height: 200px;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}
.graph__item {
    display: flex;
    align-items: flex-end;
    position: relative;
}
.graph__item::after{
    content: attr(data-year);
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -2rem;
}
.line {
    width: 2rem;
    height: 100px;
}
[data-type^="A"] {
    background-color: bisque;
}
/* селлекторы */
[data-type*="Benz"] {
    background-color: aquamarine;
}